main {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
}

.panel {
  margin: 1rem;
}

.panel-no-margin {
  margin: initial !important;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}
